body {
  background-color: #E7F8FE;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: #E7F8FE;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: 0px 1px 10px 0px #0000001c;
}

.header .title {
  align-self: flex-end;
  cursor: pointer;
}
.header .edit-toggle button {
  margin-left: .5rem;
  font-size: .75rem;
  padding: .5rem 1rem;
}

.content {
  flex: 1;
  overflow: auto;
}

.category-name, .hint, .lines {
  margin: 1rem;
}

.category-name {
  font-size: 0.6rem;
  opacity: 0.5;
  text-align: right;
  position: relative;
  margin: 1rem;
}
.category-name:after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: black;
  left: 0;
  right: 0;
  top: calc(50% - 1px);
  opacity: 0.5;
}
.category-name div {
  display: inline-block;
  background-color: #E7F8FE;
  z-index: 1;
  position: relative;
  padding-left: 0.5rem;
}

.hint textarea {
  width: calc(100% - 1rem);
  font-size: 1rem;
  resize: none;
  padding: .5rem;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
}
.hint.edited textarea {
  border: 1px solid #ffd486;
}

.lines .line {
  display: flex;
  flex-direction: row;

  background-color: #FDFDFD;
  border: 1px solid #E7F8FE;
}
.lines .line:nth-child(10n+1):not(:first-child) {
  margin-top: 1rem;
}
.lines .line.outdated {
  opacity: .7;
  position: relative;
}
.lines .line.outdated::after {
  content: '';
  position: absolute;
  background-color: black;
  height: 1px;
  top: calc(50% - .5px);
  width: 98%;
  left: 1%;
  opacity: 0.3;
  pointer-events: none;
}
.lines .line.new {
  opacity: .7;
  margin-bottom: 10vh;
}
.lines .line.edited {
  border-left-width: 5px;
}
.lines .line.edited.added {
  border-left-color: #88d75d;
}
.lines .line.edited.outdate {
  border-left-color: #be1717;
}
.lines .line.edited.update {
  border-left-color: #f2dc32;
}

.lines .line .index {
  padding: .5rem .5rem .5rem .5rem;
  opacity: .5;
  font-size: 1rem;
  border-right: 2px solid rgb(35, 107, 213);
  width: 2rem;
  text-align: right;
  user-select: none;
}
.lines .line.edited .index {
  padding: .5rem .5rem .5rem .5rem;
  opacity: .5;
  font-size: 1rem;
  border-right: 2px solid rgb(35, 107, 213);
  width: calc(2rem - 4px);
  text-align: right;
  user-select: none;
}
.lines.edit-mode .line .index {
  cursor: pointer;
}

.lines .line .title {
  padding: .5rem 0 .5rem .5rem;
  width: 100%;
  font-size: 1rem;
  border: 0;
}
.lines .line .title:focus {
  outline: none;
}

@media only screen and (min-width : 769px) {
  .category-name, .hint, .lines {
    margin: 1rem 3rem;
  }
}