body {
  background-color: #E7F8FE;
}

.App {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: #E7F8FE;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: 0px 1px 10px 0px #0000001c;
}

.header .title {
  margin: 0.25rem;
  align-self: flex-end;
  cursor: pointer;
  user-select: none;
}
.header .title svg {
  width: .8rem;
  margin-right: 0.5rem;
}
.header .edit-toggle button {
  margin-left: .5rem;
  font-size: .75rem;
  padding: .5rem 1rem;
}